//Colors

$color_primary: #082032;
$color_secundary: #FF4C29 ;
$color_opt: #EEEEEE ;

// margin.top

$mt_primary: 3rem;
$mt_secundary: 5rem;
$mt_third: 6rem;

// Padding

$pddn_1: 1rem;
$pddn_2: 2rem;
$pddn_3: 3rem;
$pddn_5: 5rem;
